<div class="container">
    <ul>Info:
        <li>username: ***</li>
        <li>email: *** <button class="btn btn-primary">Change email</button></li>
    </ul>
    <input type="text" class="form-control" [(ngModel)]="fileName">
    <button type="button" class="btn btn-outline-primary" [disabled]="fileName === ''" (click)="createFile()">Add File</button>
    <ul>Your Files:
        <li *ngFor="let file of files; let i = index">{{ i+1 }}.{{ file }} <button type="button" class="btn btn-outline-secondary">Edit</button><button type="button" class="btn btn-outline-danger" (click)="removeFile(file)">Remove</button></li>
    </ul>
</div>