<section id="pricing" class="secondary-color text-center scrollto clearfix ">
    <div class="row clearfix">
        <div class="col-3">
            <div class="panel">
                <div class="panel-body center">
                    <blockquote class="testimonial classic">
                        <img src="../assets/images/user-images/user-1.jpg" alt="User"/>
                        <q>status: online</q>
                        <footer>
                            <a (click)="logout()" class="button">SIGN OUT</a>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-2-3">
            <div class="panel">
                <div class="panel-body">
                    <div class="pricing-block-content">
                        <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                        <div class="pricing">
                            <p>{{ user.email }}</p>
                        </div>
                        <label>first name: </label>
                        <input (change)="firstChanged($event)" type="text"/>
                        <label>last name: </label>
                        <input (change)="lastChanged($event)" type="text"/>
                        <a (click)="update()" class="button">update</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>