<section id="pricing" class="secondary-color text-center scrollto clearfix ">
    <div class="row clearfix">
        <div class="col-3">
            <div class="panel">
                <div class="panel-body center">
                    <blockquote class="testimonial classic">
                        <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
                        <img (click)="fileInput.click()" class="img" [src]="api.userPic()" alt="User"/>
                        <q>status: online</q>
                        <footer>
                            <a (click)="logout()" class="button">SIGN OUT</a>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-2-3">
            <div class="panel">
                <div class="panel-body">
                    <div class="pricing-block-content">
                        <h3>{{ user.first_name }} {{ user.last_name }}</h3><a (click)="openRename()" class="edit-icon"><i class="ion-md-create"></i></a>
                        <div class="pricing">
                            <p>{{ user.email }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <a (click)="delete()" class="button">Delete Account</a>
        </div>
    </div>
</section>