<div class="board-block-content">
    <h3>{{ board.title }}</h3>
    <p class="board-sub">author: {{ board.author }}, last checked: {{ board.latestedit | date:'dd.MM.yyyy' }}</p>
    <div class="board-image">
        <img src="{{ board.image }}" alt="{{ board.title }}">
    </div>
    <ul>
        {{ board.description }}
    </ul>
    <a routerLink="/board/{{ board.id }}" class="button"><i class="ion-md-create"></i></a>
    <a routerLink="/shareBoard" (click)="shareBoard()" class="button"><i class="ion-md-share-alt"></i></a>
    <a routerLink="/boards" (click)="removeBoard()" class="button"><i class="ion-md-close"></i></a>
</div>