<!--Clients-->
<section id="clients" class="scrollto clearfix">
    <div class="row clearfix">

        <div class="col-3">

            <div class="section-heading">
                <h3>{{ groups.tagline }}</h3>
                <h2 class="section-title">{{ groups.title }}</h2>
                <p class="section-subtitle">{{ groups.description }}</p>
            </div>

        </div>

        <div class="col-2-3">

            <a href="{{ company.weblink }}" class="col-3" *ngFor="let company of groups.companies">
                <img src="{{ company.logo }}" alt="Company"/>
                <div class="client-overlay"><span>{{ company.name }}</span></div>
            </a>
        </div>

    </div>
</section>
<!--End of Clients-->