<div class="row">
    <form class="col s12 white" #userRegistrationForm="ngForm">
        <div class="row">
            <div class="input-field col s6">
                <input id="username" class="validate" type="text" name="UserName" #UserName="ngModel" [(ngModel)]="user.UserName" required>
                <label for="username">UserName</label>
                <span class="helper-text" data-error="Required field!"></span>
            </div>
            <div class="input-field col s6">
                <input id="password" class="validate" type="password" name="Password" #Password="ngModel" [(ngModel)]="user.Password" required>
                <label for="password">Password</label>
                <span class="helper-text" data-error="Required field!" data-length-error="Minimum 3 characters needed"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="text" name="Email" #Email="ngModel" [(ngModel)]="user.Email">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="firstname" type="text" name="FirstName" #FirstName="ngModel" [(ngModel)]="user.FirstName">
                <label for="firstname">FirstName</label>
            </div>
            <div class="input-field col s6">
                <input id="lastname" type="text" name="LastName" #LastName="ngModel" [(ngModel)]="user.LastName">
                <label for="lastname">LastName</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <button class="btn-large btn-submit" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>