.settings {
    background-color: #333;
    overflow: hidden;
}

.settings a {
    color: #f2f2f2;
    text-align: center;
    float: left;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
}

.settings a:hover {
    background-color: #d2b356;
}

.settings a.checkbox {
    float: right;
}

.settings a.checkbox:hover {
    background-color: #333;
}
.settings a.checkbox.active:hover {
    background-color: #d2b356;
}

.active {
    background-color: #d2b356;
}

.input-info {
    color: #f2f2f2;
    padding: 10px;
    margin: 0;
}

input[type=text] {
    width: 75%;
    margin: 0px 10px 10px 10px;
}

input[type=number] {
    width: 50%;
    margin-top: 14px;
    margin-left: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 50px;
    left: 67px;
    background-color: #333;
}

.last-colors {
    color: #f2f2f2;
    padding: 10px;
}

.load-image-dropdown {
    left: 224px;
}

.angle-dropdown {
    left: 783px;
}

.shape-dropdown {
    left: 343px;
}

input[type=file] {
    padding: 10px;
}

.line-width-dropdown {
    left: 420px;
}

.inner-color-dropdown {
    width: 400px;
    height: 400px;
    left: 529px;
}

.outter-color-dropdown {
    width: 400px;
    height: 400px;
    left: 639px;
}

.text-dropdown {
    left: 630px;
    width: 350px;
    height: 350px;
}

#history{
    width: 300px;
    position: absolute;
    bottom: 350px;
    right: 0px;
}

#users{
    width: 300px;
    position: absolute;
    top: 350px;
    right: 0px;
}

.removed {
    display: none;
}

.items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    height: 138px;
    position: absolute;
}

.items li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
}

.items li:last-child {
    border: none;
}

.items li a {
    text-decoration: none;
    color: #000;
    display: block;
    width: 300px;

    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}

.items li a:hover {
    font-size: 30px;
    background: #f6f6f6;
}

textarea {
    margin: 10px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}