<section id="pricing" class="secondary-color text-center scrollto clearfix ">
    <div class="row clearfix">
  
      <div class="container">
  
        <div class="center-form panel">
          <div class="panel-body">
              <h4 class="text-center"><i  class="ion-md-person-add"></i> Sign Up</h4>
  
              <form [formGroup]="signupForm" (ngSubmit)="signup(signupForm.value)">
                <div class="form-group">
                    <input type="text" class="form-control form-names input-lg" name="firstName" placeholder="First Name" formControlName="firstName">
                    <span  class="ion-md-person form-control-icon"></span> 
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-names input-lg" name="lastName" placeholder="Last Name" formControlName="lastName">
                    <span  class="ion-md-person form-control-icon"></span> 
                </div>
                <div class="form-group">
                    <input type="text" class="form-control input-lg" name="email" placeholder="Email" formControlName="email">
                    <span  class="ion-ios-at form-control-icon"></span> 
                </div>
                <div class="form-group">
                    <input type="password" class="form-control input-lg" name="password" placeholder="Password" formControlName="password">
                    <span  class="ion-ios-key form-control-icon"></span> 
                </div>
    
                <button type="submit" class="btn btn-block btn-success">Sign Up</button>
    
                <p class="text-center">
                    <small>Already have an account? <a routerLink="/login">Login</a></small>
    
                </p>
  
              </form>
          </div>
        </div>
  
      </div>
  
    </div>
</section>