<div class="row clearfix">
    <div class="section-heading">
        <h3>{{ board.name }}</h3>
        <h2 class="section-title">{{ board.desc }}</h2>
    </div>
</div>
<div id="history">
    <h2 id="historyTitle">HistoryList</h2>
    <ul>
        <li *ngFor="let change of updates.reverse(); let i=index"><a style="cursor: pointer;" (click)="hideUpdates(updates.length-i-1)">{{ change[0].selectedShape }}</a></li>
    </ul>
</div>
<div style="height: 600px">
    <canvas-whiteboard #canvasWhiteboard
                        [drawButtonClass]="'drawButtonClass'"
                        [drawButtonText]="'Draw'"
                        [clearButtonClass]="'clearButtonClass'"
                        [clearButtonText]="'Clear'"
                        [undoButtonText]="'Undo'"
                        [undoButtonEnabled]="true"
                        [redoButtonText]="'Redo'"
                        [redoButtonEnabled]="true"
                        [colorPickerEnabled]="true"
                        [saveDataButtonEnabled]="true"
                        [saveDataButtonText]="'Save'"
                        [lineWidth]="lineWidth"
                        [strokeColor]="'rgb(0,0,0)'"
                        [shouldDownloadDrawing]="true"
                        (onBatchUpdate)="sendBatchUpdate($event)"
                        (onClear)="onCanvasClear()"
                        (onUndo)="onCanvasUndo($event)"
                        (onRedo)="onCanvasRedo($event)"
                        (onSave)="onCanvasSave($event)">
    </canvas-whiteboard>
</div>
<div style="text-align:center;">
    <a (click)="goBack()" class="button">BACK</a>
</div>