.pagination> li {
    display: inline-block;
    background-color: white;
    border: 1px solid gray;
    margin-left: -1px;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
}
.pagination> li.active{
    background-color: #005577;
}

.pagination> li.disabled{
    background-color: #ddd;
    cursor: default;
}