<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">
            <h3>Login!</h3>
            <form>
                <input type="text" class="form-control form-group" placeholder="Email/Username*"/>
                <input type="password" class="form-control form-group" placeholder="Your Password*"/>
                <input type="submit" class="btnSubmit form-group" value="Login" /><br>
                <a href="#" class="ForgetPwd">Forget Password?</a>
            </form>
        </div>
        <div class="col-md-6 login-form-2">
            <h3>Signup!</h3>
            <form>
                <input type="text" class="form-control form-group" placeholder="First Name*" required/>
                <input type="text" class="form-control form-group" placeholder="Username*" required/>
                <input type="text" class="form-control form-group" placeholder="Enter Email*" required/>
                <input type="password" class="form-control form-group" placeholder="Enter Password*" required/>
                <input type="submit" class="btnSubmit" value="Signup"/>
            </form>
        </div>
    </div>
</div>