button.btn-submit{
    background-color: #333;
    color: #fff;
    width: 100%;
}

button.btn-submit:focus,button.btn-submit:hover{
    background-color: #a82323;
}

input.ng-invalid.ng-dirty{
    border-bottom-color : #e91e63 !important;
    box-shadow: 0 1px 0 0 #e91e63 !important;
}