<h1>Edit Board: <span class="mark">{{ name }}</span></h1>
<div>
  <mat-form-field>
    <mat-label>Name: </mat-label>
    <input matInput [(ngModel)]="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description: </mat-label>
    <input matInput [(ngModel)]="desc">
  </mat-form-field>
</div>
<div *ngIf="users.length" style="position: relative;">
  <h3>users control:</h3>
  <ul>
    <li *ngFor="let user of users; let i = index">{{ user }}
        <input class="side" type="checkbox" name="permissions" checked>
        <a (click)="removeUser(i)"><i class="ion-md-close x-icon"></i></a>
    </li>
  </ul>
  <p class="sub">*checkbox - allow to draw, x - remove user</p>
</div>
<div>
  <button class="button fit left" (click)="onNoClick()">Cancel</button>
  <button class="button fit" [mat-dialog-close]="{name: name, desc: desc}" cdkFocusInitial>Apply</button>
</div>