.mark {
    color: blue;
    font-size: 18px;
}

h1 {
    font-size: 36px;
    font-weight: 100;
    margin: 10px;
    padding: 0;   
}

.fit {
    margin: 0;
    margin-top: 5px;
    padding: 10px;
}

.left {
    margin-left: 100px;
    margin-right: 10px;
}

ul {
    list-style-type: none;
    margin-bottom: 20px;
}

li{
    margin-top: 10px;
}

li:first-child {
    margin-top:0;
}

.side {
    position: absolute;
    right: 100px;
}

.x-icon {
    border: 1px solid black;
    border-radius: 5px;
    padding: 1px;
    position: absolute;
    right: 50px;
}

input[type=checkbox] {
    height: auto;
}

.sub {
    font-style: italic;
    color:#ccc;
}